body {
    padding: 0;
    margin: 0;
    background-color: #eee;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

.main {
    width: 590px;
    margin: 0 auto 50px auto;
}

.head {
    background-color: white;
    margin: 0 10px;
    padding: 10px 30px;
}

.head-image-container {
    margin: 0 auto;
    width: 1024px;
}

.head-image {
    display: block;
}

p {
    text-align: center;
    margin: 0 15 0 5;
}

h1 {
    text-align: center;
    font-size: 41px;
}

h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 1.17em;
    font-weight: bold;
}

ul {
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

footer {
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 1.17em;
}

a {
    color: #477ca7;
    margin: 0 5px;
}

a:visited {
    color:#74638f;
}